{% load static %}
{% load i18n %}

<footer class="p-3 mb-2 bg-success text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>{% trans "Kontakt oss" %}</h5>
                <p>{% trans "Mottak " %}</p>
                <p>{% trans "Adresse: Finnsåsvegen 126, 7760 Snåsa" %}</p>
                <p>{% trans "Telefon: +47 411 95 741" %}</p>
                <p>{% trans "E-post: snaasa@heroeurope.com" %}</p>
            </div>
            <div class="col-md-4">
                <h5>{% trans "Rask linker" %}</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'core:index' %}" class="text-white">{% trans "Hjem" %}</a></li>
                    <li><a href="{% url 'core:calendar' %}" class="text-white">{% trans "Kalender" %}</a></li>
                    <li><a href="{% url 'core:blog' %}" class="text-white">{% trans "Blogg" %}</a></li>
                </ul>
            </div>
      
        <hr class="bg-light">
        <div class="text-center">
            <p class="mb-0">{% trans "&copy; 2025 Mottak. Alle rettigheter reservert. Nettstedet ble laget av Melih" %}</p>
        </div>
    </div>
</footer>